apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ grafana_name }}-data"
  namespace: "{{ namespace }}"
  labels:
    app: "{{ grafana_name }}"
spec:
  capacity:
    storage: "{{ grafana_storage_request }}"
  accessModes:
  - ReadWriteOnce
  hostPath:
    path: "/mount/data/{{ grafana_name }}"
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: "{{ grafana_storage_class }}"
