apiVersion: v1
kind: Service
metadata:
  namespace: "{{ namespace }}"
  name: "{{ grafana_name }}"
  labels:
    app: "{{ grafana_name }}"
spec:
  ports:
  - port: {{ grafana_port }}
    protocol: TCP
    targetPort: {{ grafana_port }}
  selector:
    app: "{{ grafana_name }}"
  type: LoadBalancer