apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ grafana_name }}-datasources
data:
  prometheus.yaml: |-
    apiVersion: 1

    # list of datasources that should be deleted from the database
    deleteDatasources:
      - name: Prometheus
        orgId: 1

    # list of datasources to insert/update depending
    # whats available in the database
    datasources:
      # <string, required> name of the datasource. Required
    - name: prometheus
      # <string, required> datasource type. Required
      type: prometheus
      # <string, required> access mode. direct or proxy. Required
      access: proxy
      # <int> org id. will default to orgId 1 if not specified
      orgId: 1
      # <string> url
      url: http://prometheus.default.svc:9090
      # <string> database password, if used
      # <bool> allow users to edit datasources from the UI.
      editable: true