apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: "{{ grafana_name }}"
  namespace: {{ namespace }}
  labels:
    app: "{{ grafana_name }}"
spec:
  serviceName: "{{ grafana_name }}"
  selector:
    matchLabels:
      app: "{{ grafana_name }}"
  template:
    metadata:
      labels:
        app: "{{ grafana_name }}"
    spec:
      securityContext:
        runAsUser: 0
        fsGroup: 0 
      containers:
      - name: "{{ grafana_name }}"
        image: "{{ grafana_image }}"
        env:
        - name: GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH
          value: "/etc/grafana/provisioning/dashboards/topic-dashboard.json"
        ports:
        - name: grafana
          containerPort: {{ grafana_port }}
        volumeMounts:
        - name: grafana-data
          mountPath: /var/lib/grafana
        - name: {{ grafana_name }}-datasources
          mountPath: /etc/grafana/provisioning/datasources
          readOnly: false
        - name: {{ grafana_name }}-dashboards
          mountPath: /etc/grafana/provisioning/dashboards
          readOnly: false
      volumes:
      - name: {{ grafana_name }}-datasources
        configMap:
            defaultMode: 420
            name: {{ grafana_name }}-datasources
      - name: {{ grafana_name }}-dashboards
        configMap:
            defaultMode: 420
            name: {{ grafana_name }}-dashboards
  volumeClaimTemplates:
  - metadata:
      name: "{{ grafana_name }}-data"
      namespace: "{{ namespace }}"
    spec:
      accessModes:
      - ReadWriteOnce
      storageClassName: "{{ grafana_storage_class }}"
      resources:
        requests:
          storage: "{{ grafana_storage_request }}"