apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ kafka_output_name }}"
  namespace: "{{ namespace }}"
  labels: 
    app: "{{ kafka_output_name }}"
spec:
  replicas: 1
  selector:
    matchLabels: 
      app: "{{ kafka_output_name }}"
  template:
    metadata:
      labels: 
        app: "{{ kafka_output_name }}"
    spec:
      containers:
      - name: "{{ kafka_output_name }}"
        image: "{{ kafka_output_image }}"
        env:
        - name: _KAFKA_AUTO_OFFSET_RESET
          value: earliest
        - name: _KAFKA_BOOTSTRAP_SERVER
          value: {{ kafka_name }}:{{ kafka_port }}
        - name: _KAFKA_GROUP_ID
          value: input_group
        - name: _KAFKA_SESSION_TIMEOUT_MS
          value: "6000"
        - name: _KAFKA_TOPIC
          value: input
        - name: _SLEEP
          value: "0"
        - name: _LOG_LEVEL
          value: INFO
        ports:
        - name: "{{ kafka_output_name }}"
          containerPort: {{ kafka_output_port }}