apiVersion: v1
kind: Service
metadata:
  name: "{{ kafka_output_name }}"
  namespace: "{{ namespace }}"
  labels:
    app: "{{ kafka_output_name }}"
spec:
  ports:
  - port: {{ kafka_output_port }}
  selector:
    app: "{{ kafka_output_name }}"
  clusterIP: None