apiVersion: v1
kind: Service
metadata:
  namespace: "{{ namespace }}"
  name: "{{ kafka_name }}"
  labels:
    app: "{{ kafka_name }}"
spec:
  ports:
  - port: {{ kafka_port }}
  selector:
    app: "{{ kafka_name }}"
  clusterIP: None