apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ kafka_name }}-data"
  namespace: "{{ namespace }}"
  labels:
    app: "{{ kafka_name }}"
spec:
  capacity:
    storage: "{{ kafka_storage_request }}"
  accessModes:
  - ReadWriteOnce
  hostPath:
    path: "/mount/data/{{ kafka_name }}"
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: "{{ kafka_storage_class }}"
