apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: "{{ kafka_name }}"
  namespace: {{ namespace }}
  labels:
    app: "{{ kafka_name }}"
spec:
  serviceName: "{{ kafka_name }}"
  selector:
    matchLabels:
      app: "{{ kafka_name }}"
  template:
    metadata:
      labels:
        app: "{{ kafka_name }}"
    spec:
      containers:
      - name: kafka
        image: "{{ kafka_image }}"
        env:
        - name: KAFKA_ADVERTISED_HOST_NAME
          value: "{{ kafka_name }}.{{ namespace }}.svc"
        - name: KAFKA_ADVERTISED_PORT
          value: "{{ kafka_port }}"
        - name: KAFKA_ZOOKEEPER_CONNECT
          value: "zookeeper"
        - name: KAFKA_CREATE_TOPICS
          value: "input:10:1,output:10:1"
        - name: KAFKA_JMX_OPTS
          value: "-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname=kafka -Dcom.sun.management.jmxremote.rmi.port=1099"
        - name: JMX_PORT
          value: "1099"
        - name: KAFKA_AUTO_CREATE_TOPICS_ENABLE
          value: "false"
        ports:
        - name: kafka
          containerPort: {{ kafka_port }}
        - name: jmx
          containerPort: 1099
        volumeMounts:
        - name: kafka-data
          mountPath: /var/lib/kafka
  volumeClaimTemplates:
  - metadata:
      name: "{{ kafka_name }}-data"
      namespace: "{{ namespace }}"
    spec:
      accessModes:
      - ReadWriteOnce
      storageClassName: "{{ kafka_storage_class }}"
      resources:
        requests:
          storage: "{{ kafka_storage_request }}"