apiVersion: v1
kind: Service
metadata:
  name: "{{ zookeeper_name }}"
  namespace: "{{ namespace }}"
  labels:
    app: "{{ zookeeper_name }}"
spec:
  ports:
  - port: {{ zookeeper_port }}
  selector:
    app: "{{ zookeeper_name }}"
  clusterIP: None