apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: "{{ zookeeper_name }}"
  namespace: "{{ namespace }}"
  labels:
    app: "{{ zookeeper_name }}"
spec:
  serviceName: "{{ zookeeper_name }}"
  selector:
    matchLabels:
      app: "{{ zookeeper_name }}"
  template:
    metadata:
      labels:
        app: "{{ zookeeper_name }}"
    spec:
      containers:
      - name: zookeeper
        image: "{{ zookeeper_image }}"
        ports:
        - name: zookeeper
          containerPort: {{ zookeeper_port }}
        volumeMounts:
        - name: zookeeper-data
          mountPath: /var/lib/zookeeper
  volumeClaimTemplates:
  - metadata:
      name: "{{ zookeeper_name }}-data"
      namespace: "{{ namespace }}"
    spec:
      accessModes:
      - ReadWriteOnce
      storageClassName: "{{ zookeeper_storage_class }}"
      resources:
        requests:
          storage: "{{ zookeeper_storage_request }}"