apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ zookeeper_name }}-data"
  namespace: "{{ namespace }}"
  labels:
    app: "{{ zookeeper_name }}"
spec:
  capacity:
    storage: "{{ zookeeper_storage_request }}"
  accessModes:
  - ReadWriteOnce
  hostPath:
    path: "/mount/data/{{ zookeeper_name }}"
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: "{{ zookeeper_storage_class }}"
