apiVersion: v1
kind: Service
metadata:
  name: "{{ kminion_name }}"
  namespace: "{{ namespace }}"
  labels:
    app: "{{ kminion_name }}"
spec:
  ports:
  - port: {{ kminion_port }}
  selector:
    app: "{{ kminion_name }}"
  clusterIP: None