apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ kminion_name }}"
  namespace: "{{ namespace }}"
  labels: 
    app: "{{ kminion_name }}"
spec:
  replicas: 1
  selector:
    matchLabels: 
      app: "{{ kminion_name }}"
  template:
    metadata:
      labels: 
        app: "{{ kminion_name }}"
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ kminion_port }}"
        prometheus.io/path: /metrics
    spec:
      containers:
      - name: kminion
        image: "{{ kminion_image }}"
        env:
        - name: TELEMETRY_HOST
          value: 0.0.0.0
        - name: TELEMETRY_PORT
          value: "{{ kminion_port }}"
        - name: EXPORTER_IGNORE_SYSTEM_TOPICS
          value: "true"
        - name: EXPORTER_NAMESPACE
          value: "{{ kminion_name }}"
        - name: LOG_LEVEL
          value: info
        - name: KAFKA_BROKERS
          value: "{{ kafka_name }}:{{ kafka_port }}"
        - name: KAFKA_CONSUMER_OFFSETS_TOPIC_NAME
          value: __consumer_offsets
        ports:
        - name: "{{ kminion_name }}"
          containerPort: {{ kminion_port }}