apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: "{{ prometheus_name }}"
  namespace: {{ namespace }}
  labels:
    app: "{{ prometheus_name }}"
spec:
  serviceName: "{{ prometheus_name }}"
  selector:
    matchLabels:
      app: "{{ prometheus_name }}"
  template:
    metadata:
      labels:
        app: "{{ prometheus_name }}"
    spec:
      securityContext:
        runAsUser: 0
        fsGroup: 0 
      containers:
      - name: "{{ prometheus_name }}"
        image: "{{ prometheus_image }}"
        args:
          - "--config.file=/etc/prometheus/prometheus.yml"
          - "--storage.tsdb.path=/prometheus/"
        ports:
        - name: "{{ prometheus_name }}"
          containerPort: {{ prometheus_port }}
        volumeMounts:
        - name: {{ prometheus_name }}-data
          mountPath: /prometheus/
        - name: {{ prometheus_name }}-config
          mountPath: /etc/prometheus/
          readOnly: false
      volumes:
      - name: {{ prometheus_name }}-config
        configMap:
          defaultMode: 420
          name: {{ prometheus_name }}-config
  volumeClaimTemplates:
  - metadata:
      name: "{{ prometheus_name }}-data"
      namespace: "{{ namespace }}"
    spec:
      accessModes:
      - ReadWriteOnce
      storageClassName: "{{ prometheus_storage_class }}"
      resources:
        requests:
          storage: "{{ prometheus_storage_request }}"