apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ prometheus_name }}-data"
  namespace: "{{ namespace }}"
  labels:
    app: "{{ prometheus_name }}"
spec:
  capacity:
    storage: "{{ prometheus_storage_request }}"
  accessModes:
  - ReadWriteOnce
  hostPath:
    path: "/mount/data/{{ prometheus_name }}"
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: "{{ prometheus_storage_class }}"
