apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ prometheus_name }}-config
data:
  prometheus.yml: |-
    global:
      scrape_interval: 5s
      evaluation_interval: 5s

    scrape_configs:
      - job_name: 'kafka-input-app'
        static_configs:
        - targets: ['{{kafka_input_name}}:{{kafka_input_port}}']
      
      - job_name: 'kafka-output-app'
        static_configs:
        - targets: ['{{kafka_output_name}}:{{kafka_output_port}}']

      - job_name: 'kafka-minion'
        static_configs:
        - targets: ['{{kminion_name}}:{{kminion_port}}']

      