apiVersion: v1
kind: Service
metadata:
  namespace: "{{ namespace }}"
  name: "{{ prometheus_name }}"
  labels:
    app: "{{ prometheus_name }}"
spec:
  ports:
  - port: {{ prometheus_port }}
  selector:
    app: "{{ prometheus_name }}"
  clusterIP: None  